header{
    height:84px;
    /*border:5px solid rgb(174, 178, 176);*/
    font-size: 100%;
}
body{
   margin: auto;
   background-color: rgb(89, 87, 86);
}

#photo{
  margin-left: 620px;
  margin-right:570px;  
  /*border:5px groove rgb(53, 29, 233);*/
  box-shadow: 10px 20px 10px #b0d8e8;
  transition: transform 0.3s;
}
#transition:hover{
    
    transform: scale(1.2);
}
#about{
    margin-left: 2px;
    font-size: 200%;
}
h2{
    margin-left: 51px;
}

ol{
    margin-left: 51px;
}
ul{
    margin-left: 51px;
}
p {
   font-size: 200% ;
   margin-left: 50px;
   margin-left: 50px;
}
#skills{
    height:300px;
    /*border:5px groove rgb(53, 29, 233);*/
    font-size: 200%
}

#hobby{
    height:255px;
    /*border:5px inset rgb(244, 228, 17);*/
    font-size: 200%
}

#map{
    height:454px;
    /*border:5px solid rgb(246, 191, 11);*/
}

footer{
    height:120px;
    /*border:5px solid rgb(20, 12, 239);*/
}
